<div class="text-white bg-black min-h-screen relative flex flex-col">
  <div class="flex absolute w-full inset-0 bg-gradient-to-br z-10 from-purple-900/35 via-black to-purple-900/35">

    <!-- Back -->
    <div class="flex w-full flex-col">
      <div class="p-6">
        <%= link_to root_path, class: "text-white hover:bg-gray-500 p-2 rounded-lg inline-flex items-center" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
          <span class="hidden sm:flex">
            Back
          </span>
        <% end %>
      </div>

      <!-- Sign in section -->
      <div class="container w-full mx-auto flex flex-1 items-center justify-center px-6 pb-24">
        <div class="flex flex-col items-center space-y-5 w-full max-w-sm">

          <!-- Flash messages -->
          <% if alert = flash[:alert] %>
            <p class="py-2 px-3 bg-red-50 text-red-500 font-medium rounded-lg inline-block w-full text-center">
              <%= alert %>
            </p>
          <% end %>
          <% if notice = flash[:notice] %>
            <p class="py-2 px-3 bg-green-50 text-green-500 font-medium rounded-lg inline-block w-full text-center">
              <%= notice %>
            </p>
          <% end %>

          <!-- User icon -->
          <div class="w-16 h-16 bg-gray-800 rounded-full flex items-center justify-center mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A4 4 0 018 17h8a4 4 0 012.879 1.196M15 11a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </div>

          <div class="text-3xl font-bold px-10">Sign Up</div>

          <!-- Form -->
          <%= form_with model: @user, class: "w-full flex flex-col space-y-4" do |form| %>

            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username",
              placeholder: "Email",
              value: params[:email_address],
              class: "border-b border-gray-600 focus:border-gray-400 focus:outline-0 transition-all duration-500 p-2 rounded-2xl w-full bg-transparent text-white" %>

            <%= form.password_field :password, required: true, autocomplete: "current-password",
              placeholder: "Password",
              maxlength: 72,
              class: "border-b border-gray-600 focus:border-gray-400 focus:outline-0 transition-all duration-500 p-2 rounded-2xl w-full bg-transparent text-white" %>

            <%= form.password_field :password, required: true, autocomplete: "current-password",
              placeholder: "Password",
              maxlength: 72,
              class: "border-b border-gray-600 focus:border-gray-400 focus:outline-0 transition-all duration-500 p-2 rounded-2xl w-full bg-transparent text-white" %>

            <div class="flex items-center justify-between w-full opacity-80">
              <%= link_to "Forgot password?", new_password_path,
                class: "text-gray-400 hover:text-gray-200 underline hover:no-underline" %>

              <%= form.submit "Sign in",
                class: "hover:bg-violet-900 w-24 transition-all duration-300 bg-violet-600/80 text-white rounded-md px-3.5 py-2.5 font-medium cursor-pointer" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
